.theme-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.75em;
  background-color: var(--toggle-theme-bg);
  border-radius: 20px;
  transition: background-color 0.4s;
}

.theme-toggle:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--toggle-theme-ball);
  top: 6px;
  left: 7px;
  transition: 0.5s;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"]:checked + .theme-toggle {
  background-color: var(--secondary);
}

input[type="checkbox"]:checked + .theme-toggle:before {
  transform: translateX(29px);
}

.theme-toggle .fa-moon {
  font-size: 1em;
  padding-top: 6px;
  padding-left: 8px;
  color: var(--toggle-theme-ball);
}

.theme-toggle .fa-sun {
  font-size: 0.9em;
  padding-top: 2px;
  padding-left: 17px;
  color: var(--toggle-theme-ball);
}
