#login_container {
  height: 100vh;
  display: flex;
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#login_main {
  flex: 1;
  padding: 4%;
}

#login_graphics {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--graphics-bg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 4vw;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

#login_form {
  margin-top: 5vh;

  h1 {
    font-size: var(--font-title);
    color: var(--text);
  }

  h4 {
    margin-top: 1vh;
    font-size: var(--font-body);
    color: var(--text);
    font-weight: 400;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-top: 4vh;
}

#login_form input[type="text"],
#login_form input[type="password"] {
  border: none;
  border-radius: 10vw;
  padding: 1vh 2vw 1vh 4.5vw;
  height: 8vh;
  background-color: var(--tonal-form);
  color: var(--text);
  font-size: var(--font-form);
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid var(--primary);
  }

  &::placeholder {
    opacity: 0.6;
    color: var(--tonal-form-text);
    font-size: var(--font-form);
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: var(--font-body);
    font-weight: 500;
    color: var(--label);
  }
}

.field-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.material-icons {
  margin-top: 2.25vh;
  position: absolute;
  left: 1.5vw;
  color: var(--tonal-form-text);
  pointer-events: none;
  font-size: var(--font-icon);
  opacity: 0.75;
}

#below_pass_row {
  display: flex;
  justify-content: space-between;
}

#forgot_password {
  margin-top: 1vh;
  text-align: end;
  font-size: var(--font-misc);
  color: var(--label);
  cursor: pointer;
}

.custom-btn {
  margin-top: 3vh;
  color: #eff4f2 !important; // override m3 theme
  background-color: var(--main-button) !important;
  height: 8vh;
  font-size: var(--font-body);
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
}

.button-enabled {
  opacity: 1;
}

.button-disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
  background-color: var(--main-button-disabled) !important;
}

#goto_signup {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-size: var(--font-misc);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

/* Error styles */
#login_form input[type="text"].error,
#login_form input[type="password"].error {
  border: 2px solid var(--error-message);
}

.input-group.error .error-message div {
  color: var(--error-message);
}

.error-message {
  display: flex;
  align-items: center;
  min-height: 1.5em;
  margin-top: 0.5em;
  visibility: hidden;
  font-size: var(--font-error);
  overflow: hidden;
  font-size: 15px;

  &.visible {
    animation: slideDown 0.5s ease forwards;
    visibility: visible;
  }

  .error-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-left: 1vw;
  }

  .error-item .material-symbols-outlined {
    font-size: 1.2vw;
  }
}
@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
    transform: translateY(-10px); /* Start slightly above its final position */
  }

  100% {
    height: auto;
    opacity: 1;
    transform: translateY(0); /* Reach final position */
  }
}



/* ------------------- MEDIA QUERIES ------------------- */

/* Mobile Devices (up to 480px) */
@media (max-width: 480px) {
  #login_container {
    flex-direction: column;
  }

  #login_main {
    flex: 1;
    padding: 5vh 10vw;
  }

  #login_graphics {
    display: none;
  }

  nav {
    gap: 2vw;
  }

  #login_form h1 {
    color: var(--text);
    font-size: 25px;
  }

  #login_form h4 {
    margin-top: 2vh;
    color: var(--text);
    font-weight: 400;
    font-size: 13px;
  }

  .input-group label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: 13px;
    font-weight: 500;
    color: var(--label);
  }

  #login_form input[type="text"],
  #login_form input[type="password"] {
    padding: 2vh 15vw;
    height: 8.5vh;
    font-size: 13px;
    opacity: 50;
  }

  #login_form input[type="text"]::placeholder,
  #login_form input[type="password"]::placeholder {
    margin-top: 1.35vh;
    opacity: 5;
    color: var(--tonal-form-text);
    font-size: 13px;
    padding: 0vh;
    margin-right: vh;
  }

  .material-icons {
    margin-top: 2.5vh;
    position: absolute;
    left: 5vw;
    color: var(--tonal-form-text);
    pointer-events: none;
    font-size: 20px;
  }

  #forgot_password {
    font-size: 10px;
  }

  button.custom-btn {
    height: 8.5vh;
    font-size: 14px;
  }

  #goto_signup {
    font-size: 13px;
  }

  .error-message {
    display: flex;
    align-items: center;
    min-height: 1.5em;
    margin-top: 0.5em;
    visibility: hidden;
    font-size: var(--font-error);
    overflow: hidden;
    font-size: 10px;

  .error-item .material-symbols-outlined {
    font-size: 3vw;
  }  
 }
}

/* Tablet Devices (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #login_container {
    flex-direction: column;
  }

  #login_main {
    flex: 1;
    padding: 9vh 10vw;
  }

  #login_graphics {
    display: none;
  }

  nav {
    gap: 2vw;
  }

  #login_form h1 {
    color: var(--text);
    font-size: 35px;
  }

  #login_form h4 {
    margin-top: 2vh;
    color: var(--text);
    font-weight: 400;
    font-size: 22px;
  }

  .input-group label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: 20px;
    font-weight: 500;
    color: var(--label);
  }

  #login_form input[type="text"],
  #login_form input[type="password"] {
    padding: 2vh 11vw;
    height: 8.5vh;
    font-size: 18px;
    opacity: 50;
  }

  #login_form input[type="text"]::placeholder,
  #login_form input[type="password"]::placeholder {
    color: var(--tonal-form-text);
    font-size: 18px;
    padding: 0vw;
    margin-right: 10vh;
  }

  .material-icons {
    margin-top: 1.75vh;
    position: absolute;
    left: 5vw;
    color: var(--tonal-form-text);
    pointer-events: none;
    font-size: 30px;
  }

  #forgot_password {
    font-size: 20px;
  }

  button.custom-btn {
    height: 8.5vh;
    font-size: 20px;
  }

  #goto_signup {
    font-size: 20px;
  }

  .error-message {
    display: flex;
    align-items: center;
    min-height: 1.5em;
    margin-top: 0.5em;
    visibility: hidden;
    font-size: var(--font-error);
    overflow: hidden;
    font-size: 15px;

  .error-item .material-symbols-outlined {
    font-size: 3vw;
  }  
 }
}