<div id="login_container">
  <div id="login_main">
    <div id="login_header">
      <header>
        <app-brand></app-brand>
        <nav></nav>
      </header>
    </div>
    <div id="login_form">
      <h1>Log In</h1>
      <h4>Welcome back! Enter your email and password to use Scribe.</h4>

      <form id="login_fields" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="email">Email</label>
          <div id="field_content">
            <i class="material-icons">account_circle</i>
            <input
              type="text"
              id="email"
              name="email"
              placeholder="example@gmail.com"
              formControlName="email"
            />
            @if(emailControl?.invalid && emailControl?.touched){
            <div>
              @if(emailControl?.errors?.['required']){
              <div>Email is required. Kindly fill out the field.</div>
              } @if(emailControl?.errors?.['email']){
              <div>Email is invalid format. Please try again.</div>
              }
            </div>
            }
          </div>
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <div id="field_content">
            <i class="material-icons">lock</i>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="•••••••••••••"
              formControlName="password"
            />
            @if(passwordControl?.touched){
            <div>
              @if(passwordControl?.errors?.['required']){
              <div>Password is required. Kindly fill out the field.</div>
              }
            </div>
            }
          </div>
          <div id="forgot_password">
            <!--TODO: Use routerLink for this page-->
            <span>Forgot Password?</span>
          </div>
        </div>

        <button class="custom-btn" mat-flat-button>Log In</button>
        <!-- @if(errorMessage){
          <div>{{ errorMessage }}</div>
          } -->
      </form>
    </div>
    <a id="goto_signup" routerLink="/signup">
      No account yet? Sign up now.
  </a>
  </div>
  <div id="login_graphics">
    <img src="../../../assets/images/mesh_auth.png" />
  </div>
</div>
