<div id="login_container">
    <div id="login_main">
        <div id="login_header">
            <header>
                <app-brand></app-brand>
                <nav>
                </nav>
            </header>
        </div>
        <div id="login_form">
            <h1>Log In</h1>
            <h4>Welcome back! Enter your username and password to use Scribe.</h4>

            <div id="material_forms">
                <mat-form-field appearance="outline" class="custom-form-field">
                    <mat-label>Scribe Username</mat-label>
                    <input matInput placeholder="Enter your username">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div id="login_graphics">
        <img src="../../../assets/images/mesh_login.png">
    </div>
</div>