.custom-dialog-title {
  font-size: 1.5em;
  color: var(--label);
  font-weight: 500;
  font-family: "Google Sans Text"
}

.custom-dialog-content {
  font-size: 1em;
  margin: 1em 0;
  color: var(--text) !important;

  p {
    font-family: "Google Sans Text";
  }
}

/* Common buttons styling */
.custom-dialog-buttons button {
  font-size: 1.1em !important;
}

/* Cancel action button styling */
.custom-dialog-buttons .dialog-cancel {
  color: var(--label) !important;
 
}

/* Proceed action button styling */
.custom-dialog-buttons .dialog-action {
  color: var(--label) !important;
}
