.material-dialog-container {
  padding: 0%;
}

.custom-dialog-title {
  font-size: 1.75rem;
  color: var(--label);
  font-weight: 500;
  font-family: "Google Sans Text";
  letter-spacing: -0.025rem;
}

.custom-dialog-content {
  font-size: 1rem;
  margin: 1em 0;
  color: var(--text) !important;

  p {
    font-family: "Google Sans Text";
  }
}

/* Common buttons styling */
.custom-dialog-buttons button {
  font-size: 1rem !important;
}

/* Cancel action button styling */
.custom-dialog-buttons .dialog-cancel {
  color: var(--label);
 
}

/* Proceed action button styling */
.custom-dialog-buttons .dialog-action {
  color: var(--label);
}
