<div class="scribe-home-container">
  <!-- SECTION: Home Greetings & Templates & recent Notes Container-->
  <main id="scribe_home_main">
    <!--Home Greetings-->
    <div id="home_greetings">
      <h1>Hello, {{ firstname }}</h1>
      <h2>
        Ideas are sparking! Capture them with Scribe. Start with a template
        below.
      </h2>
    </div>

    <!--Featured Templates-->
    <div id="featured_templates">
      @for (template of templates; track template.title) {
      <div
        matRipple
        [matRippleAnimation]="{ enterDuration: 300, exitDuration: 300 }"
        matRippleColor="rgba(61, 156, 119, 0.1)"
        class="template-card"
        (click)="selectTemplate(template)"
      >
        <span class="material-symbols-outlined">{{ template.icon }}</span>
        <span class="template-title">{{ template.title }}</span>
      </div>
      }
    </div>

    <!--recent Notes-->
    <div id="recent_notes">
      <!--Heading-->
      <div id="recent_notes_heading">
        <h3>
          <span class="material-symbols-outlined">sticky_note_2</span>Recent
          Notes
        </h3>
        <span routerLink="/main/notes" class="view-all">
          All Notes
          <span class="material-symbols-outlined">arrow_forward_ios</span>
        </span>
      </div>

      <!--Notes Tiles-->
      <div id="recent_notes_tiles">
        <ngx-masonry class="masonry-note-container">
          @for (note of notes.slice(0, 4); track note.id) {
          <app-note-card [note]="note"></app-note-card>
          }
        </ngx-masonry>
      </div>
    </div>
  </main>

  <!--SECTION: Tasks Container-->
  <aside id="scribe_home_side">
    <!--Heading-->
    <div id="side_heading">
      <h3>
        <span class="material-symbols-outlined">today</span>Tasks
      </h3>
      <span routerLink="/main/tasks" class="view-all">
        View All
        <span class="material-symbols-outlined">arrow_forward_ios</span>
      </span>
    </div>

    <!--Tasks List-->
    <div id="tasks_list">
      <!--If tasks list is empty, display this:-->
      <div id="tasks_empty">
        <img src="../../../assets/images/empty_holder.svg" />
        <p>No upcoming tasks.<br />Click to add one.</p>
      </div>

      <!--If tasks list has at least one content, display this:-->
      <div id="tasks_content"></div>
    </div>
  </aside>
</div>
