:root {
  --background-color: #eff5f3;

  --text: #0a0f0d;
  --background: #eff5f3;
  --primary: #006c53;
  --secondary: #97c9b8;
  --accent: #4da383;

  --toggle-theme-bg: #9dc0b2;
  --toggle-theme-ball: #366957;

  --tonal-button: #cae3da;
  --tonal-form: #bed0ca;
  --tonal-form-text: #204e3d;

  --label: #006c53;
}

body.dark-mode {
  --background-color: #151817;

  --text: #eff4f2;
  --background: #0a100e;
  --primary: #009371;
  --secondary: #366957;
  --accent: #5ab292;

  --toggle-theme-bg: #366957;
  --toggle-theme-ball: #a4cbbd;

  --tonal-button: #b7d8cc;
  --tonal-form: #2a3833;
  --tonal-form-text: #7cb79f;

  --label: #009371;
}
