:root {
  --background-color: #eafff8;

  --text: #0a0f0d;
  --background: #eff5f3;
  --primary: #345b4d;
  --secondary: #97c9b8;
  --accent: #4da383;

  --toggle-theme-bg: #9dc0b2;
  --toggle-theme-ball: #366957;

  --tonal-button:#cae3da;
}

body.dark-mode {
  --background-color: #0a100e;
  
  --text: #eff4f2;
  --background: #0a100e;
  --primary: #a4cbbd;
  --secondary: #366957;
  --accent: #5ab292;

  --toggle-theme-bg: #366957;
  --toggle-theme-ball: #a4cbbd;

  --tonal-button:#b8e0d2;
}
