/* Google Sans */
@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google-Sans/GoogleSans-Regular.woff2")
    format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google-Sans/GoogleSans-Medium.woff2")
    format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: url("../assets/fonts/Google-Sans/GoogleSans-Bold.woff2") format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Google Sans Text */
@font-face {
  font-family: "Google Sans Text";
  src: url("../assets/fonts/Google-Sans-Text/GoogleSansText-Regular.woff2")
    format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../assets/fonts/Google-Sans-Text/GoogleSansText-Medium.woff2")
    format("woff2");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Text";
  src: url("../assets/fonts/Google-Sans-Text/GoogleSansText-Bold.woff2")
    format("woff2");
  font-weight: 700; /* Bold */
  font-style: normal;
}
