:root {
  --background-color: #eff5f3;

  --text: #0a0f0d;
  --background: #eff5f3;
  --primary: #006c53;
  --secondary: #97c9b8;
  --accent: #4da383;

  --landing-bg: #eff5f3;
  --graphics-bg: #ddefe9;

  --toggle-theme-bg: #9dc0b2;
  --toggle-theme-ball: #366957;

  --main-button: #006c53;
  --main-button-disabled: #192422;
  --tonal-border: #00513e;
  --tonal-button: #cae3da;
  --tonal-form: #d4dfdc;  
  --tonal-form-text: #204e3d;
  --label: #006c53;

  --highlight-prime: #009371;
  --highlight-sec: #006c53;

  --error-message: #93000a;

  --core-bg: #fbfffe;
  --core-nav: #e6f1ed;
  --core-nav-hover: #006c531e;

  --destructive-bg: rgba(197, 1, 1, 0.2);
  --destructive-text: rgb(151, 0, 0);
  
}

body.dark-mode {
  --background-color: #0f1215;

  --text: #eff4f2;
  --background: #0a100e;
  --primary: #009371;
  --secondary: #366957;
  --accent: #5ab292;
  
  --landing-bg: #050908;
  --graphics-bg: #141918;

  --toggle-theme-bg: #204e3d;
  --toggle-theme-ball: #a4cbbd;

  --main-button: #006c53;
  --main-button-disabled: #005642;
  --tonal-border: #006d54;
  --tonal-button: #101f1c;
  --tonal-form: #222a2a;
  --tonal-form-text: #adc0b8;
  --label: #009371;

  --highlight-prime: #01a881;
  --highlight-sec: #005843;
  --highlight-next: #008566;

  --error-message: #ffb4ab;

  --core-bg: #111313;
  --core-nav: #171a1a;
  --core-nav-hover: #0093711c;

  --destructive-bg: #532b2b52;
  --destructive-text: #ae2c2c;
}
