:root {
  --background-color: #eff5f3;

  --text: #0a0f0d;
  --background: #eff5f3;
  --primary: #006c53;
  --secondary: #97c9b8;
  --accent: #4da383;

  --landing-bg: #eff5f3;
  --graphics-bg: #ddefe9;

  --toggle-theme-bg: #9dc0b2;
  --toggle-theme-ball: #366957;

  --main-button: #006c53;
  --main-button-disabled: #192422;
  --tonal-border: #00513e;
  --tonal-button: #cae3da;
  --tonal-form: #d4dfdc;  
  --tonal-form-text: #204e3d;
  --label: #006c53;

  --highlight-prime: #009371;
  --highlight-sec: #006c53;
  --highlight-next: #00654e;

  --error-message: #93000a;

  --core-bg: #fbfffe;
  --core-nav: #e7f1ee;
  --core-nav-hover: #636f6c29;
  --core-nav-active: #006c531e;

  --destructive-bg: #c5010133;
  --destructive-text: #970000;
  
  --error-button: #aa010c;

  --feat-template: #e6f1ed;
  --feat-text: #014837;

  --note-card: #f4f5f4;
  --empty-bg: #f4f5f4;

  --toolbar: #fbfffe;
  --active-command: #c9e7dc;

  --progress-base: #d0d0d0;
  --progress-bar-one: #00654e;

  --to-do: #3e3cab;
  --in-progress: #b47129;
  --done: #069070;
}

body.dark-mode {
  --background-color: #0f1215;

  --text: #eff4f2;
  --background: #0a100e;
  --primary: #009371;
  --secondary: #366957;
  --accent: #5ab292;
  
  --landing-bg: #050908;
  --graphics-bg: #121a19;

  --toggle-theme-bg: #204e3d;
  --toggle-theme-ball: #a4cbbd;

  --main-button: #006c53;
  --main-button-disabled: #005642;
  --tonal-border: #006d54;
  --tonal-button: #142925;
  --tonal-form: #222a2a;
  --tonal-form-text: #adc0b8;
  --label: #009371;

  --highlight-prime: #01a881;
  --highlight-sec: #005843;
  --highlight-next: #027258;

  --error-message: #ffb4ab;

  --core-bg: #111313;
  --core-nav: #181a1a;
  --core-nav-hover: #7f908c1a;
  --core-nav-active: #006c531e;

  --destructive-bg: #532b2b52;
  --destructive-text: #ae2c2c;

  --error-button: #bd2626;

  --feat-template: #162522;
  --feat-text: #98d5bf;

  --note-card: #181a1a;
  --empty-bg: #161818;

  --toolbar: #181a1a;
  --active-command: #006c5361;

  --progress-base: #282d2b;
  --progress-bar-one: #00503e;

  --to-do: #5956e5;
  --in-progress: #cd8537;
  --done: #01a881;
}
