<mat-card ngxMasonryItem class="masonry-note" (click)="editNote()">
  <!-- Card Header -->
  <div class="note-header">
    <mat-card-title class="note-title">{{ note.title }}</mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item>
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
      <button mat-menu-item>
        <mat-icon>share</mat-icon>
        <span>Share</span>
      </button>
    </mat-menu>
  </div>
  <!-- Card Content -->
  <mat-card-content class="note-content">
    <p [innerHTML]="note.content"></p>
  </mat-card-content>
  <!-- Card Footer -->
  <mat-card-footer class="note-footer">
    <div id="last_edited_info">
      <span class="material-symbols-outlined">schedule</span>
      <p>{{ note.last_edited | date: 'short' }}</p>
    </div>
  </mat-card-footer>
</mat-card>
