* {
  color: var(--text);
  transition: background-color 0.75s ease, color 0.75s ease;
}

.masonry-note {
  display: flex;
  flex-direction: column;
  background-color: var(--note-card);
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(25% - 10px);
  cursor: pointer;
  max-height: 40vh;  /* Makes the note-card height dynamic */
  overflow: auto;  /* Makes the note-card height dynamic */
  user-select: none;

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5% 3% 0% 9%;
  }

  .note-title {
    font-size: 1.4vw;
    font-weight: 500;
    font-family: "Google Sans Text", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  .note-content {
    font-size: 1vw;
    padding: 5% 9% 0% 9%;
    line-height: 1.5;
    // max-height: 30vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;
  }

  .note-footer {
    padding: 9% 7% 5% 7%;
    margin-top: auto; /* Pushes footer to the bottom */

    #last_edited_info {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.5rem 0;
      width: fit-content;
      opacity: 0.6;

      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2vw;
      }
    
      p {
        font-size: 1vw;
      }
    }
  }
}
