<mat-card ngxMasonryItem class="masonry-note"
  [ngStyle]="{'background-color': noteBackgroundColor}">
  <div class="note-header">
    <mat-card-title class="note-title" (click)="openNote()">
      {{ note.title }}
    </mat-card-title>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- If the notes are active, display this -->
      @if (!isInTrash) {
        <button mat-menu-item (click)="togglePinNote()">
          <mat-icon>{{
            note.is_pinned ? "remove_circle_outline" : "push_pin"
          }}</mat-icon>
          <span>{{ note.is_pinned ? "Unpin Note" : "Pin Note" }}</span>
        </button>
        <button mat-menu-item (click)="openNote()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click)="toggleLockNote()">
          <mat-icon>{{ note.is_locked ? 'lock_open' : 'lock' }}</mat-icon>
          <span>{{ note.is_locked ? 'Unlock Note' : 'Lock Note' }}</span>
        </button>
        <button mat-menu-item (click)="deleteNote()">
          <mat-icon>delete</mat-icon>
          <span>Move to trash</span>
        </button>
      <!-- If the notes are soft-deleted and in trash, display this -->
      } @else {
        <button mat-menu-item (click)="restoreNote()">
          <mat-icon>restore</mat-icon>
          <span>Restore</span>
        </button>
        <button mat-menu-item (click)="hardDeleteNote()">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete Forever</span>
        </button>
      }
    </mat-menu>
  </div>

  <mat-card-content class="note-content" (click)="openNote()">
    @if (note.is_locked) {
      <mat-icon>lock</mat-icon>
    } @else {
      <div [innerHTML]="sanitizedContent"></div>
    }
  </mat-card-content>

  <mat-card-footer class="note-footer" (click)="openNote()">
    <div id="last_edited_info">
      <mat-icon>event</mat-icon>
      <p>{{ note.last_edited | date: 'MMM d, h:mm a' }}</p>
    </div>
  </mat-card-footer>
  
</mat-card>
