* {
  color: var(--text);
  transition: background-color 0.75s ease, color 0.75s ease;
}

.masonry-note {
  display: flex;
  flex-direction: column;
  background-color: var(--note-card);
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(25% - 10px);
  cursor: pointer;

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5% 3% 0% 9%;
  }

  .note-title {
    font-size: 1.25vw;
    font-weight: 500;
    font-family: "Google Sans Text", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
  }

  .note-content {
    font-size: 1vw;
    padding: 5% 9%;
    line-height: 1.5;
    max-height: 21vh;
    max-width: 90%;
    overflow: hidden;
    position: relative;
  }

  .note-footer {
    padding: 9% 7%;
    margin-top: auto; /* Pushes footer to the bottom */

    #last_edited_info {
      display: flex;
      align-items: center;
      gap: 0.5em;
      background-color: rgba(170, 170, 170, 0.11);
      padding: 0.5rem 0.75rem;
      border-radius: 20px;
      width: fit-content;

      span {
        font-size: 1vw;
      }

      p {
        font-size: 0.9vw;
        color: var(--text);
      }
    }
  }
}
