* {
  transition: background-color 0.75s ease, color 0.75s ease;
}

.scribe-notes-container {
  position: relative;
}

#notes_heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--core-bg);

  h1 {
    font-size: 3.5vw;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    background: -webkit-linear-gradient(
      45deg,
      var(--highlight-prime) 15%,
      var(--highlight-next) 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.025em;
    transition: color 0.75s ease;
    width: 60%;
  }

  .custom-sort {
    font-size: 1.1vw;
    color: var(--primary);
  }
}

#all_notes_tiles {
  height: 100%;
  padding: 0 0.2%;
}

.custom-fab {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-misc);
  font-weight: 500;
  color: rgb(229, 254, 247);
  background-color: var(--main-button);
  padding: 1.5%;
}

.empty-notes {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  cursor: pointer;
  margin-top: 5%;

  img {
    width: 25%;
    height: auto;
  }
}

.custom-paginator {
  display: flex;
  justify-content: flex-start;
  background-color: var(--core-bg);
  font-size: 1vw;
  padding: 3% 0; 
  font-family: "Google Sans Text", sans-serif !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
