#scribe_brand {
  display: flex;
  align-items: center;
  gap: 1.5vw;
}

#scribe_logo {
  width: 10%;
  height: auto;
}

#scribe_name {
  font-weight: bold;
  font-size: 5vh;
  background: linear-gradient(270deg, var(--primary), var(--accent));
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 5s ease infinite;
}
