* {
  transition: background-color 0.75s ease, color 0.75s ease;
}

#signup_container {
  height: 100vh;
  display: flex;
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: 0;
  overflow: hidden;
}

#signup_main {
  flex: 1;
  padding: 4%;
}

#signup_graphics {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--graphics-bg);
  z-index: 1000;
}

/* signup HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 4vw;

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    transition: font-variation-settings 0.3s ease;
  }
}

nav:hover {

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
}

#mini_theme_toggle {
  cursor: pointer;
  font-size: 2.25vw;
  border-radius: 100%;
  padding: 0.5vw;
  color: var(--primary);
}

svg {
  max-width: 90%;
  height: auto;
  display: block;
}

/* signup MAIN */
#signup_form {
  margin-top: 5vh;
}

#signup_form h1 {
  font-size: var(--font-title);
  color: var(--text);
}

#signup_form h4 {
  margin-top: 1vh;
  font-size: var(--font-body);
  color: var(--text);
  font-weight: 400;
}

/* MATERIAL FORM FIELD */

form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 4vh;
}

.input-group.same-row-one {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#signup_form input[type="text"],
#signup_form input[type="password"] {
  border: none;
  border-radius: 10vw;
  padding: 1vh 4.5vw; // padding increased
  height: 8vh;
  background-color: var(--tonal-form);
  color: var(--text);
  font-size: var(--font-form);
  width: 100%;
}

#signup_form input[type="password"] {
  padding-right: 1.5vw;
}

#signup_form input[type="text"]:focus,
#signup_form input[type="password"]:focus {
  outline: none;
  border: 2px solid var(--primary);
}

#signup_form input[type="text"]::placeholder,
#signup_form input[type="password"]::placeholder {
  opacity: 0.6;
  color: var(--tonal-form-text);
  font-size: var(--font-form);
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-group label {
  margin-bottom: 2vh;
  font-size: var(--font-body);
  font-weight: 500;
  color: var(--label);
}

.material-icons {
  margin-top: 2.25vh;
  position: absolute;
  left: 1.5vw;
  color: var(--tonal-form-text);
  pointer-events: none;
  font-size: var(--font-icon);
  opacity: 0.75;
}

.material-icons.row {
  left: 2vw;
}

.custom-btn {
  color: #eff4f2 !important; // override m3 theme
  background-color: var(--main-button) !important;
  height: 8vh;
  font-size: var(--font-body);
  font-weight: 500;
  transition: transform 0.4s ease-in-out;
}

.button-enabled {
  opacity: 1;
}

.button-disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
  background-color: var(--main-button-disabled) !important;
}

#user_agreement {
  margin-top: 2vh;
  text-align: center;
  display: none;
}

#goto_login {
  display: flex;
  justify-content: center;
  color: var(--primary);
  font-size: var(--font-misc);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 4vh;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
#signup_main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
#signup_main {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Error styles */

/* Red border for input error */
#signup_form input[type="text"].error,
#signup_form input[type="password"].error {
  border: 2px solid var(--error-message);
}

.input-group.error .error-message div {
  color: var(--error-message);
}

.error-message {
  display: flex;
  align-items: center;
  min-height: 1.5em;
  margin-top: 0.5em;
  visibility: hidden;
  font-size: var(--font-error);
  color: var(--error-message);
  overflow: hidden;

  &.visible {
    animation: slideDown 0.5s ease forwards;
    visibility: visible;
  }

  .error-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-left: 1vw;
  }

  .error-item .material-symbols-outlined {
    font-size: 1.2vw;
  }

  div {
    visibility: visible;
  }
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

.current-step {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.navigation-btn-next {
  align-self: end;
  height: 8vh;
  width: 20%;
  color: var(--primary) !important;
  background-color: var(--signup-nav);
  font-size: var(--font-form);
  padding: 3.5%;

  span {
    font-size: 0.9em;
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
}

.navigation-btn-back {
  height: 8vh;
  width: 20%;
  color: var(--primary) !important;
  background-color: var(--signup-nav);
  font-size: var(--font-form);
  padding: 3.5%;

  span {
    font-size: 0.9em;
  }

  .button-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10%;
  }
}

.step-container {
  position: relative;
  display: flex;
}

.current-step {
  width: 100%;
  flex-shrink: 0;
}

.signup-btn-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

//TODO!!
// /* Media Queries */
// @media (max-width: 1024px) {
//   #signup_container {
//     flex-direction: column;
//   }

//   #signup_main {
//     padding: 5vh 5vw;
//   }

//   #signup_graphics {
//     display: none;
//   }
// }

@media (max-width: 768px) {
  .input-group.same-row-one {
    flex-direction: column;
    gap: 3vh;
  }

  #signup_graphics {
    display: none;
  }

  #signup_form h1 {
    font-size: 1.9rem;
    color: var(--text);
  }

  #signup_form h4 {
    margin-top: 1vh;
    font-size: 1rem;
    color: var(--text);
    font-weight: 400;
  }

  .material-icons.row {
    left: 5vw;
  }

  .input-group label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: 1rem;
    color: var(--label);
  }

  #signup_form input[type="text"],
  #signup_form input[type="password"] {
    padding: 1.5vh 4vw;
    height: 6vh;
    font-size: 0.85rem;
  }

  #signup_form input[type="text"]::placeholder,
  #signup_form input[type="password"]::placeholder {
    margin-top: 1.35vh;
    opacity: 0.6; /* Corrected opacity */
    color: var(--tonal-form-text);
    font-size: 0.85rem;
  }

  .input-group.error .error-message div {
    color: var(--error-message);
  }

  .error-message {
    display: flex;
    align-items: center;
    min-height: 1.5em;
    margin-top: 0.5em;
    visibility: hidden;
    font-size: 1.5vw;
    color: var(--error-message);
    overflow: hidden;

    &.visible {
      animation: slideDown 0.5s ease forwards;
      visibility: visible;
    }

    .error-item {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-left: 1vw;
    }

    .error-item .material-symbols-outlined {
      font-size: 1.5vw;
    }

    div {
      visibility: visible;
    }
  }

  .material-icons {
    margin-top: 1.75vh;
    position: absolute;
    left: 1.5vw;
    color: var(--tonal-form-text);
    pointer-events: none;
    font-size: 13px;
  }

  .material-icons.row {
    margin-top: 1.75vh;
    position: absolute;
    left: 1.5vw;
    color: var(--tonal-form-text);
    margin-top: 1.75vh;
    left: 1.5vw;
    font-size: 0.75rem;
  }

  #forgot_password {
    font-size: calc(var(--font-misc) - 2px);
  }

  button.custom-btn {
    height: 6vh;
    font-size: 1rem;
  }

  #goto_login {
    font-size: 0.8rem;
  }

  #user_agreement {
    margin-top: 2vh;
    text-align: center;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .input-group.same-row-one {
    flex-direction: column;
    gap: 2.65vh;
  }

  #signup_container {
    flex-direction: column;
  }

  #signup_main {
    flex: 1;
    padding: 5vh 15vw;
  }
  .field-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #signup_graphics {
    display: none;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
  }

  nav {
    gap: 2vw;
  }

  #signup_form h1 {
    font-size: 1.25rem;
    color: var(--text);
  }

  #signup_form h4 {
    margin-top: 2vh;
    font-size: 0.7rem;
    color: var(--text);
  }

  .input-group label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: 0.75rem;
    color: var(--label);
  }

  #signup_form input[type="text"],
  #signup_form input[type="password"] {
    padding: 1.5vw 5vh;
    height: 6vh;
    font-size: 0.75rem;
  }

  #signup_form input[type="text"]::placeholder,
  #signup_form input[type="password"]::placeholder {
    margin-top: 1.35vh;
    opacity: 10;
    color: var(--tonal-form-text);
    font-size: 0.75rem;
    padding: 0.4vw;
    padding-right: 2.5vw;
    margin-right: 10vh;
  }

  .input-group.error .error-message div {
    color: var(--error-message);
  }

  .error-message {
    display: flex;
    align-items: center;
    min-height: 1.5em;
    margin-top: 0.5em;
    visibility: hidden;
    font-size: 3vw;
    color: var(--error-message);
    overflow: hidden;

    &.visible {
      animation: slideDown 0.5s ease forwards;
      visibility: visible;
    }

    .error-item {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-left: 1vw;
    }

    .error-item .material-symbols-outlined {
      font-size: 3vw;
    }

    div {
      visibility: visible;
    }
  }

  .material-icons {
    margin-top: 2.4vh;
    position: absolute;
    left: 1.5vh;
    color: var(--tonal-form-text);
    font-size: 0.75rem;
  }

  .material-icons.row {
    margin-top: 2.4vh;
    position: absolute;
    left: 1.5vh;
    color: var(--tonal-form-text);
    font-size: 0.75rem;
  }

  #forgot_password {
    font-size: 0.75rem;
  }

  button.custom-btn {
    height: 6vh;
    font-size: 0.75rem;
  }

  #goto_login {
    font-size: 0.7rem;
  }

  .custom-btn {
    height: 6vh;
    font-size: 0.75rem;
  }

  #user_agreement {
    margin-top: 2vh;
    text-align: center;
    font-size: 0.65rem;
  }
}
