<div class="scribe-search-container" [@simpleFade]>
  @if (notes.length===0 && clearSearch) {
  <div id="initial_search_content">
    <img src="../../../../assets/images/search.svg" />
    <h3>Search your notes, tasks, folders, and many more.</h3>
    <p>EMPTY EMPTY EMPTY</p>
  </div>
  }

  <div id="all_notes_tiles">
    <ngx-masonry class="masonry-note-container">
      @if (isLoading) {
      <div class="loading"></div>
      } @else { @if (!clearSearch && notes.length > 0) { @for (note of notes;
      track note.id) {
      <app-note-card
        [note]="note"
        [isInTrash]="false"
        (delete)="onNoteDelete($event)"
      >
      </app-note-card>
      } } @else {
      <!-- TODO  -->
      <!-- If notes are empty, this will display -->
      <!-- <p></p> -->
      } }
    </ngx-masonry>
  </div>
</div>
