* {
  color: var(--text);
  transition: background-color 0.75s ease, color 0.75s ease;
}

.scribe-search-container {
  padding: 0 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%; 
  width: 100%;
}

#initial_search_content {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
  height: 100%; 
  width: 100%; 
  padding-bottom: 5%;

  img {
    width: 25%;
    user-select: none;
  }

  h3 {
    font-weight: 400;
  }
}

#all_notes_tiles {
  margin-bottom: 2%;
}

#all_tasks_tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(25% - 2%), 1fr));
  gap: 0.75vw;
}

#tiles_container {
  width: 100%;
  padding-bottom: 3%;

  h3 {
    display: flex;
    align-items: center;
    gap: 1%;
    font-weight: 600;
    margin-bottom: 1%;
    background: -webkit-linear-gradient(
      45deg,
      var(--highlight-prime) 15%,
      var(--highlight-next) 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#search_term {
  font-weight: 500;
}

/* Media Queries for Mobile */
@media (max-width: 480px) {
  .scribe-search-container {
    padding: 0 1rem 0 1rem;
  }

  #initial_search_content img {
    width: 50%;
  }

  #all_tasks_tiles {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

/* Media Queries for Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  .scribe-search-container {
    padding: 0 2rem 0 2rem;
  }

  #initial_search_content img {
    width: 50%;
  }

  #all_tasks_tiles {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}