* {
  transition: background-color 0.75s ease, color 0.75s ease;
}

.scribe-trash-container {
  padding: 0 3rem 2rem 3rem;
  position: relative;
}

#trash_main {
  height: 100%;
}

#trash_heading {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--core-bg);

  h1 {
    font-size: 3.5vw;
    font-family: "Google Sans", sans-serif;
    font-weight: 500;
    background: -webkit-linear-gradient(
      45deg,
      var(--highlight-prime) 15%,
      var(--highlight-next) 70%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.025em;
    transition: color 0.75s ease;
    width: 60%;
  }

  .custom-sort {
    font-size: 1.1vw;
    color: var(--primary);
  }
}

.custom-fab {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-misc);
  font-weight: 500;
  color: rgb(229, 254, 247);
  background-color: var(--main-button);
  padding: 1.5%;
}

.empty-trash {
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

  img {
    width: 30%;
    height: auto;
  }
}

.custom-paginator {
  display: flex;
  justify-content: flex-start;
  background-color: var(--core-bg);
  font-size: 1vw;
  padding-top: 2%; 
  font-family: "Google Sans Text", sans-serif !important;
}


.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Media query for mobile devices (up to 480px) */
@media (max-width: 480px) {
  #trash_heading {
    align-items: flex-start;

    h1 {
      font-size: 8vw;
      width: 80%;
    }

    .custom-sort {
      font-size: 3vw;
      margin-top: 0rem;
    }
  }

  .sort-container {
    width: 150%;
    display: flex;
    justify-content: flex-end;
    margin-top: 0rem;

    .custom-sort {
      font-size: 5vw;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      mat-icon {
        font-size: 5vw;
      }
    }
  }

  .custom-fab {
    bottom: 10vw;
    right: 10vw;
    font-size: 3.5vw;
    padding: 3%;
    height: 12vw;
  }

  .empty-trash {
    img {
      width: 80%;
    }

    p {
      font-size: 4vw;
    }
  }

  .custom-paginator {
    font-size: 4vw;
  }

  .trash-heading-row {
    h2 {
      font-size: 4vw;
    }

    .mat-icon {
      font-size: 3vw;
    }
  }
}

/* Media query for tablet devices (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #trash_heading {
    align-items: flex-start;

    h1 {
      font-size: 5vw;
    }

    .custom-sort {
      font-size: 2vw;
    }
  }

  .sort-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;

    .custom-sort {
      font-size: 2vw;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      mat-icon {
        font-size: 3vw;
      }
    }
  }

  .custom-fab {
    bottom: 6vw;
    right: 6vw;
    font-size: 2vw;
    padding: 2%;
  }

  .empty-trash {
    img {
      width: 80%;
    }

    p {
      font-size: 2vw;
    }
  }

  .custom-paginator {
    font-size: 2vw;
  }

  .trash-heading-row {
    h2 {
      font-size: 2.5vw;
    }

    .mat-icon {
      font-size: 2.5vw;
    }
  }
}