@use "@angular/material" as mat;
@use "./scss/m3-theme.scss" as m3;

@include mat.core();

@mixin light-theme {
  @include m3.all-component-themes(m3.$light-theme);
}

@mixin dark-theme {
  @include m3.all-component-themes(m3.$dark-theme);
}

:root {
  @include light-theme;
}

body.dark-mode {
  @include dark-theme;
}

:root {
  --font-hero: 5vw;
  --font-title: 3vw;
  --font-brand: 2vw;
  --font-icon: 1.75vw;
  --font-body: 1.5vw;
  --font-form: 1.3vw;
  --font-misc: 1.2vw;
  --font-error: 1vw;
  --letter-spacing: 0.025vw;
}

/* -------------------------------------------------------- */
/* ------------------CUSTOM STYLING ----------------------- */
/* -------------------------------------------------------- */

@import "./scss/theme.scss";
@import "./scss/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Text", "Inter Tight", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--core-bg);
  color: var(--text-color);
  transition: background-color 0.75s ease, color 0.75s ease;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}

// Enables spotlight effect when dark mode only
body.dark-mode #landing_container::before,
body.dark-mode #not_found_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top center,
    rgba(46, 99, 88, 0.5),
    rgba(105, 60, 105, 0),
    rgba(255, 20, 147, 0)
  );
  pointer-events: none;
  z-index: -1;
}

/* Custom Material Form Theming */

.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 28px !important;
}

mat-form-field .mdc-notched-outline > * {
  border-width: 2px !important;
}
