// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@import "../m3-theme.scss";

@include mat.core();

// Define the theme object.
$scribe-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $_primary,
      tertiary: $_tertiary,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($scribe-theme);

  /* --font-hero: 
  --font-heading */
  --font-title: 3vw;
  --font-icon: 1.75vw;
  --font-body: 1.5vw;
  --font-form: 1.3vw;
  --font-misc: 1.2vw;
  --letter-spacing: 0.03vw;
}

/* -------------------------------------------------------- */
/* ------------------CUSTOM STYLING ----------------------- */
/* -------------------------------------------------------- */

@import "./css/theme.css";

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Thin.ttf")
    format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.ttf")
    format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf")
    format("truetype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.ttf")
    format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.ttf")
    format("truetype");
  font-weight: 800; /* Heavy */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.75s ease, color 0.75s ease;
}
