<div class="scribe-editor-container">
  <div class="slide-container" [@slideUpDown]>
    <!--Editor header-->
    <div class="editor-header">
      <!--Back Button-->
      <button
        mat-button
        class="btn-back"
        (click)="goBack()"
        matTooltip="Close the editor"
        matTooltipShowDelay="500"
      >
        <mat-icon>arrow_back</mat-icon>
        Back
      </button>
      <div class="editor-actions">
        <form #noteForm="ngForm">
          <!--Focus Mode-->
          <button
            mat-button
            class="btn-focus"
            matTooltip="Toggle sidenav for better focus"
            matTooltipShowDelay="500"
            (click)="toggleSidenav()"
          >
            <mat-icon>zoom_out_map</mat-icon> Focus Mode
          </button>

          @if (isInTrash) {
          <!-- Edit button with tooltip if the note is in trash -->
          <button
            mat-button
            class="btn-edit"
            (click)="toggleEditMode()"
            matTooltip="Note can't be edited while it's in trash."
            [ngClass]="{ 'disabled-button': isInTrash }"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
          } @if (!isInTrash && readOnly) {
          <!-- Edit button without tooltip if the note is not in trash -->
          <button
            mat-button
            class="btn-edit"
            (click)="toggleEditMode()"
            matTooltip="Switch to edit mode"
            matTooltipShowDelay="500"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
          } @if (!isInTrash && !readOnly) {
          <!-- Done button when not in read-only mode -->
          <button
            mat-button
            class="btn-done"
            (click)="toggleEditMode()"
            matTooltip="Switch to read-only mode"
            matTooltipShowDelay="500"
          >
            <mat-icon>check</mat-icon> Done
          </button>
          }
        </form>
      </div>
    </div>

    <!--Note Title-->
    <div class="editor-title">
      <input
        type="text"
        placeholder="Add note title"
        class="title-input"
        [readonly]="readOnly"
        (keyup)="onTitleChange()"
        [(ngModel)]="noteTitle"
      />
    </div>

    <!--Note Timestamp-->
    <div class="editor-timestamp">
      <mat-icon>schedule</mat-icon>

      <div id="timestamp_content">
        Last edited: {{ lastEdited | date : "short" }}
      </div>
    </div>

    <!--Note Tags & Reminders-->
    <div class="editor-tags-reminders">
      <button mat-button class="btn-tags">
        <mat-icon>new_label</mat-icon>
        Add Tags
      </button>
      <button mat-button class="btn-reminders">
        <mat-icon>notifications</mat-icon>
        Add Reminders
      </button>
    </div>

    <!--Note Editor Content-->
    <div
      class="editor-content"
      contenteditable="true"
      data-placeholder="Write down your notes here..."
      #editorContent
      (input)="onContentChange($event)"
      [attr.contenteditable]="!readOnly"
      [@halfSlide]
    ></div>
  </div>

  <!--Editor Toolbar-->
  @if (!readOnly) {
  <div class="editor-toolbar" [@slideUpDown]>
    <!-- Font Styles -->
    <div class="toolbar-group">
      <button [class.active]="activeCommands['bold']" (click)="format('bold')">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['italic']"
        (click)="format('italic')"
      >
        <mat-icon>format_italic</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['underline']"
        (click)="format('underline')"
      >
        <mat-icon>format_underline</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['strikeThrough']"
        (click)="format('strikeThrough')"
      >
        <mat-icon>strikethrough_s</mat-icon>
      </button>
    </div>

    <!-- Alignments -->
    <div class="toolbar-group">
      <button
        [class.active]="activeCommands['justifyLeft']"
        (click)="format('justifyLeft')"
      >
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['justifyCenter']"
        (click)="format('justifyCenter')"
      >
        <mat-icon>format_align_center</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['justifyRight']"
        (click)="format('justifyRight')"
      >
        <mat-icon>format_align_right</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['justifyFull']"
        (click)="format('justifyFull')"
      >
        <mat-icon>format_align_justify</mat-icon>
      </button>
    </div>

    <!-- Headings -->
    <div class="toolbar-group">
      <select (change)="formatBlock($event)">
        <option value="" selected disabled hidden>Headings</option>
        <option value="h1">Heading 1</option>
        <option value="h2">Heading 2</option>
        <option value="h3">Heading 3</option>
        <option value="p">Paragraph</option>
      </select>
    </div>

    <!-- Font Size -->
    <div class="toolbar-group">
      <select (change)="onFontSizeChange($event)">
        <option value="1">8</option>
        <option value="2">10</option>
        <option value="3">12</option>
        <option value="4">14</option>
        <option value="5">16</option>
        <option value="6">18</option>
        <option value="7">20</option>
        <option value="8">24</option>
        <option value="9">32</option>
        <option value="10">36</option>
      </select>
    </div>

    <!-- Lists -->
    <div class="toolbar-group">
      <button
        [class.active]="activeCommands['insertUnorderedList']"
        (click)="format('insertUnorderedList')"
      >
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['insertOrderedList']"
        (click)="format('insertOrderedList')"
      >
        <mat-icon>format_list_numbered</mat-icon>
      </button>
    </div>

    <!-- Indentation -->
    <div class="toolbar-group">
      <button
        [class.active]="activeCommands['indent']"
        (click)="format('indent')"
      >
        <mat-icon>format_indent_increase</mat-icon>
      </button>
      <button
        [class.active]="activeCommands['outdent']"
        (click)="format('outdent')"
      >
        <mat-icon>format_indent_decrease</mat-icon>
      </button>
    </div>

    <!-- Colors -->
    <div class="toolbar-group">
      <label for="textColor"><mat-icon>format_color_text</mat-icon></label>
      <input
        type="color"
        (input)="changeTextColor($event)"
        [(ngModel)]="textColor"
      />
      <label for="textColor"><mat-icon>border_color</mat-icon></label>
      <input
        type="color"
        (input)="changeBackgroundColor($event)"
        [(ngModel)]="backgroundColor"
      />
    </div>

    <!-- Scroll buttons -->
    <div class="toolbar-group">
      <button (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
      <button (click)="scrollToBottom()">
        <mat-icon>arrow_downward</mat-icon>
      </button>
    </div>
  </div>
  }
</div>
