* {
  color: var(--text);
  transition: background-color 0.75s ease, color 0.75s ease;
}

.scribe-editor-container {
  margin-top: 2rem;
  overflow-y: scroll;
  max-height: calc(100vh - 1rem);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}


/*  ----- EDITOR HEADER STYLING ----- */
.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-back,
.btn-focus,
.btn-edit,
.btn-done {
  font-size: 1vw;
  color: var(--primary) !important;
  cursor: pointer;

  .mat-icon {
    color: var(--primary);
  }
}

/*  ----- EDITOR TITLE STYLING ----- */

.editor-title .title-input {
  width: 100%;
  padding: 10px 0;
  font-size: 2.75vw;
  letter-spacing: -0.025rem;
}

.title-input {
  background-color: transparent;
  font-weight: bold;
  color: var(--text);
  caret-color: var(--text);
  border: none;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.title-input::placeholder {
  color: var(--text);
  opacity: 0.6;
  font-weight: bold;
}

/*  ----- EDITOR TIMESTAMP STYLING ----- */

.editor-timestamp {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  opacity: 0.6 !important;
  margin-bottom: 20px;

  .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-right: 0.25rem;
  }
}

/*  ----- EDITOR TAGS STYLING ----- */

.editor-tags-reminders {
  margin-bottom: 20px;
  display: none;
}

.btn-tags,
.btn-reminders {
  background: var(--feat-template) !important;
  color: var(--primary) !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;

  .mat-icon {
    color: var(--primary);
  }
}

/*  ----- EDITOR TOOLBAR STYLING ----- */

.editor-toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: var(--toolbar);
  border-radius: 10px;
  position: fixed;
  bottom: 1vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.editor-toolbar .toolbar-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid rgba(128, 128, 128, 0.182);
  padding-right: 10px;
  margin-right: 10px;
}

.editor-toolbar .toolbar-group:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.editor-toolbar button,
.editor-toolbar select {
  padding: 5px;
  cursor: pointer;
  background: none;
  border-radius: 7px;
  color: var(--text);
  border: none;
}

.editor-toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.editor-toolbar button.active {
  background-color: var(--active-command);
  color: var(--feat-text);
}

.editor-toolbar select {
  background: var(--toolbar);
  color: var(--text);
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 5px;
  cursor: pointer;
}

/*  ----- EDITOR CONTENT STYLING ----- */

.editor-content {
  height: auto;
  outline: none;
  padding-bottom: 10%;
}

::ng-deep .editor-content .custom-list {
  margin: 0 !important;
  padding-left: 20px !important;
  list-style-position: inside !important;

  li {
    margin: 0 !important;
  }
}

.editor-content:empty:before {
  content: attr(data-placeholder);
  opacity: 0.6;
  cursor: text;
}

/* Style for the color picker input */
input[type="color"] {
  border: 1px solid var(--toolbar);
  width: 25px;
  cursor: pointer;
}

input[type="color"]:focus {
  border-color: none;
}

/* Style for the color picker trigger */
.color-picker-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Style for the color display */
.color-display {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.disabled-button {
  opacity: 0.5;
  cursor: default !important;
}
