.theme-toggle {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 3.8vw;
  height: 4vh;
  background-color: var(--toggle-theme-bg);
  border-radius: 10vw;
  transition: background-color 0.5s;
}

.theme-toggle:before {
  content: "";
  position: absolute;
  width: 1.4vw;
  height: 2.9vh;
  border-radius: 50%;
  background-color: var(--toggle-theme-ball);
  top: 0.55vh;
  left: 0.3vw;
  transition: 0.3s ease;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 0px;
  width: 0px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type="checkbox"]:checked + .theme-toggle {
  background-color: var(--toggle-theme-bg);
}

input[type="checkbox"]:checked + .theme-toggle:before {
  transform: translateX(1.8vw);
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4vw;
  font-size: 1vw;
  color: var(--toggle-theme-ball);

  #dark_mode {
    font-variation-settings: 
    "FILL" 1, 
    "wght" 200, 
    "GRAD" 0, 
    "opsz" 24;

  };

  #light_mode {
    font-size: 1.3em;
    font-variation-settings: 
    "FILL" 1, 
    "wght" 400, 
    "GRAD" 0, 
    "opsz" 24;
  };

  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
    
}