@import "./css/theme.css";

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Thin.ttf")
    format("truetype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.ttf")
    format("truetype");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.ttf")
    format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf")
    format("truetype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.ttf")
    format("truetype");
  font-weight: 600; /* Semi-bold */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.ttf")
    format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("assets/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.ttf")
    format("truetype");
  font-weight: 800; /* Heavy */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "SF Pro Display", "Helvetica Neue", sans-serif;
  transition: background-color 0.75s ease, color 0.75s ease;
}
