.typing-container {
  display: inline-block;
  white-space: pre-wrap;
  overflow: hidden;
  height: 16vw;

  h1 {
    font-family: "Inter Tight", sans-serif !important;
    font-size: var(--font-hero);
    display: inline-block;
    word-break: break-word;
    letter-spacing: -0.05em;
  }
}

// smaller mobile device
@media screen and (max-width: 339px) {
  .typing-container {
    height: 75vw;
  }

  .typing-container h1 {
    font-size: 10.5vw;
    margin-top: 9vh;
    letter-spacing: -0.01em;
  }
}

// mobile device
@media screen and (min-width: 340px) and (max-width: 390px) {
  .typing-container {
    height: 60vw;
  }

  .typing-container h1 {
    font-size: 9.5vw;
    margin-top: 7vh;
    letter-spacing: -0.01em;
  }
}

//medium mobile
@media screen and (min-width: 391px) and (max-width: 540px) {
  .typing-container {
    height: 35vw;
  }

  .typing-container h1 {
    font-size: 6vw;
    margin-top: 12vh;
    letter-spacing: -0.01em;
  }
}

// larger mobile device
@media screen and (min-width: 541px) and (max-width: 739px) {
  .typing-container {
    height: 35vw;
  }

  .typing-container h1 {
    font-size: 6.5vw;
    margin-top: 12vh;
    word-break: break-all;
    letter-spacing: -0.01em;
  }
}

// tablet device
@media screen and (min-width: 740px) and (max-width: 769px) {
  .typing-container {
    height: 30vw;
  }

  .typing-container h1 {
    font-size: 7vw;
    margin-top: 15vh;
    word-break: normal;
    letter-spacing: -0.05em;
  }
}