<div id="landing_container">
    <header>
        <app-brand></app-brand>
        <nav>
            <a routerLink="home">Home</a>
            <a href="#">About Us</a>
            <a href="#">Help</a>
            <a href="#">FAQ</a>
            <a href="#">How It Works</a>

            <app-theme-switch></app-theme-switch>
        </nav>
    </header>

    <section id="landing_content">
        <main id="scribe_hero">
            <h1>Capture what truly matters. <br>
                Note-taking, <span id=highlight>reimagined.</span>
            </h1>
            <p id="scribe_desc">
                Say goodbye to scattered thoughts. 
                Designed with simplicity and efficiency in mind, 
                Scribe lets you capture your thoughts, ideas, and 
                important information instantly without all the clutter, 
                helping you stay focused. Think clearly, write simply.
            </p>
            <div id="landing_buttons">
                <button routerLink="/login" id="scribe_login">Log In</button>
                <button id="scribe_signup">Sign Up</button>
            </div>
        </main>
    </section>
</div>