#landing_container {
  height: 100vh;
  padding: 2.5em 4em;
}

#landing_container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top center,
    rgba(46, 99, 88, 0.5),
    rgba(105, 60, 105, 0),
    rgba(255, 20, 147, 0)
  );
  pointer-events: none;
  z-index: -1;
}

/* LANDING HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 4vw;
}

nav a {
  text-decoration: none;
  color: var(--text);
  font-size: 1.5vw;
}

/* Gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* LANDING MAIN CONTENT */
#landing_content {
  color: var(--text);
  border: 0px solid red;
}

#scribe_hero {
  text-align: center;
}

#scribe_hero h1 {
  font-size: 4.75vw;
  margin-top: 14vh;
  border: 0px solid red;
}

#highlight {
  background: -webkit-linear-gradient(50deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#scribe_desc {
  margin-top: 1em;
  font-size: 3.3vh;
  line-height: 1.6;
  padding: 0 8vw;
  border: 0px solid red;
  text-align: center;
  letter-spacing: 0.04vw;
}

/* LANDING BUTTONS */
#landing_buttons {
  border: 0px solid red;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  gap: 1.5vw;
}

#scribe_login {
  cursor: pointer;
  background-color: var(--tonal-button);
  border: none;
  border-radius: 50px;
  font-size: 3.25vh;
  width: 12vw;
  height: auto;
  padding: 2vh 0;
  font-weight: 600;
  color: #366957;
  transition: box-shadow 0.5s ease-in-out;
}

#scribe_login:hover {
  box-shadow: 0 0 15px rgba(215, 246, 236, 0.8);
}

#scribe_signup {
  font-weight: 600;
  position: relative;
  cursor: pointer;
  border: none;
  width: 12vw;
  height: auto;
  padding: 2vh 0;
  border-radius: 50px;
  background: linear-gradient(120deg, #4da383, #204739, #245040, #4da383);
  background-size: 400%;
  color: #fff;
  font-size: 3.25vh;
  letter-spacing: 0.05vw;
}

#scribe_signup::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(120deg, #4da383, #204739, #245040, #4da383);
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}

#scribe_signup:hover {
  animation: animate 10s linear infinite;
}

#scribe_signup:hover::before {
  filter: blur(13px);
  opacity: 0.7;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* LANDING GRAPHICS */
svg {
  width: 39.5vw;
  height: auto;
}
