#recovery_container {
  height: 100vh;
  display: flex;
  color: var(--text);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#recovery_main {
  flex: 1;
  padding: 9vh 5vw;
}

#recovery_graphics {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 4vw;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.recovery-form {
  margin-top: 5vh;

  h1 {
    font-size: var(--font-title);
    color: var(--text);
  }

  h4 {
    margin-top: 1vh;
    font-size: var(--font-body);
    color: var(--text);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  letter-spacing: var(--letter-spacing);
}

.recovery-form input[type="text"],
.recovery-form input[type="password"] {
  border: none;
  border-radius: 10vw;
  padding: 1vh 4.5vw;
  height: 8vh;
  background-color: var(--tonal-form);
  color: var(--text);
  font-size: var(--font-form);
  width: 100%;

  &:focus {
    outline: none;
    border: 2px solid var(--primary);
  }

  &::placeholder {
    opacity: 0.6;
    color: var(--tonal-form-text);
    font-size: var(--font-form);
    letter-spacing: var(--letter-spacing);
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;

  label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: var(--font-body);
    font-weight: 500;
    color: var(--label);
  }
}

#email,
#password {
  letter-spacing: var(--letter-spacing);
}

.material-icons {
  margin-top: 2.25vh;
  position: absolute;
  left: 1.5vw;
  color: var(--tonal-form-text);
  pointer-events: none;
  font-size: var(--font-icon);
}

.custom-btn {
  height: 8vh;
  margin-top: -2vh;
  font-size: var(--font-body);
  font-weight: 600;
  transition: transform 0.4s ease-in-out;
}

/* Error styles */

/* Red border for input error */
.recovery-form input[type="text"].error,
.recovery-form input[type="password"].error {
  border: 2px solid var(--error-message);
}

.input-group.error .error-message div {
  color: var(--error-message);
}

.error-message {
  display: flex;
  align-items: center;
  min-height: 1.5em;
  margin-top: 0.5em;
  visibility: hidden;
  font-size: var(--font-error);
  border: 2px solid red;

  .error-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-left: 1vw;
  }

  .error-item .material-symbols-outlined {
    font-size: 1.2vw;
  }

  div {
    visibility: visible;
  }
}

.error-message.recovery-btn {
  display: flex;
  justify-content: center;
  margin: 0em;
  color: var(--error-message);
  border: 2px solid red;
}

#otp_fields {
  display: flex;
  align-items: left;
  flex-direction: column;
  
  .otp-inputs {
    display: flex;
    gap: 25px;
  }

  input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 15px;
    height: 85px;
    width: 80px; 
    background-color: var(--tonal-form);
    color: var(--text);
    font-size: var(--font-form);
    text-align: center;
    margin-right: 5px;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      outline: none;
      border: 2px solid var(--primary);
    }

    &::placeholder {
      opacity: 0.6;
      color: var(--tonal-form-text);
    }
  }

  .error-message {
    margin-top: 20px;
    font-size: var(--font-error);

    div {
      color: var(--error-message);
    }
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }
}

#new_password_form {
  display: flex;
  align-items: left;
  flex-direction: column;

  .input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2vh;

    label {
      margin-bottom: 2vh;
      margin-left: 0vw;
      font-size: var(--font-body);
      font-weight: 500;
      color: var(--label);
    }

    input[type="password"] {
      border: none;
      border-radius: 10vw;
      padding: 1vh 4.5vw;
      height: 8vh;
      background-color: var(--tonal-form);
      color: var(--text);
      font-size: var(--font-form);
      width: 100%;

      &:focus {
        outline: none;
        border: 2px solid var(--primary);
      }

      &::placeholder {
        opacity: 0.6;
        color: var(--tonal-form-text);
        font-size: var(--font-form);
        letter-spacing: var(--letter-spacing);
      }
    }

    .error-message {
      margin-top: 5px;
      font-size: var(--font-error);

      div {
        color: var(--error-message);
      }
    }
  }

  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .custom-btn {
    margin-top: 1vh;
    height: 8vh;
    font-size: var(--font-body);
    font-weight: 600;
    transition: transform 0.4s ease-in-out;
  }

  .material-icons {
    position: absolute;
    left: 1.5vw;
    top: 3.7vw;
    transform: translateY(-50%);
    color: var(--tonal-form-text);
    pointer-events: none;
    font-size: var(--font-icon);
  }
}

/* MEDIA QUERIES */

/* Mobile Devices (up to 480px) */
@media (max-width: 480px) {
  #recovery_container {
    flex-direction: column;
  }

  #recovery_graphics {
    display: none;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
  }

  nav {
    gap: 2vw;
  }

  .recovery-form h1 {
    font-size: var(--font-title);
    color: var(--text);
    font-size: 20px;
  }

  .recovery-form h4 {
    margin-top: 2vh;
    font-size: var(--font-body);
    color: var(--text);
    font-weight: 400;
    letter-spacing: var(--letter-spacing);
    font-size: 10px;
  }

  .input-group label {
    margin-bottom: 2vh;
    margin-left: 0vw;
    font-size: var(--font-body);
    font-size: 10px;
    font-weight: 500;
    color: var(--label);
  }

  .recovery-form input[type="text"],
  .recovery-form input[type="password"] {
    padding: 1.5vh 4vw;
    height: 6vh;
    font-size: calc(var(--font-form) - 2px);
    font-size: 10px;
  }

  .recovery-form input[type="text"]::placeholder,
  .recovery-form input[type="password"]::placeholder {
    margin-top: 1.35vh;
    opacity: 10;
    color: var(--tonal-form-text);
    font-size: var(--font-form);
    letter-spacing: var(--letter-spacing);
    font-size: 9px;
    padding: 3vw;
  }

  .material-icons {
    margin-top: 1.75vh;
    position: absolute;
    left: 1.5vw;
    color: var(--tonal-form-text);
    pointer-events: none;
    font-size: var(--font-icon);
    font-size: 13px;
  }

  #forgot_password {
    font-size: calc(var(--font-misc) - 2px);
    font-size: 10px;
  }

  button.custom-btn {
    height: 6vh;
    font-size: calc(var(--font-body) - 2px);
    font-size: 10px;
  }

  #goto_signup {
    font-size: calc(var(--font-misc) - 2px);
    font-size: 10px;
  }
}

/* Tablet Devices (481px to 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  #recovery_container {
    flex-direction: column;
  }

  #recovery_graphics {
    display: none;
  }

  header {
    flex-direction: row;
    align-items: center;
    gap: 4vh;
  }

  nav {
    gap: 2vw;
  }

  .recovery-form input[type="text"],
  .recovery-form input[type="password"] {
    padding: 1.5vh 4vw;
    height: 7vh;
    font-size: calc(var(--font-form) - 1px);
  }

  .recovery-form input[type="text"]::placeholder,
  .recovery-form input[type="password"]::placeholder {
    font-size: calc(var(--font-form) - 1px);
  }

  .material-icons {
    font-size: calc(var(--font-icon) - 2px);
  }

  #forgot_password {
    font-size: calc(var(--font-misc) - 1px);
  }

  button.custom-btn {
    height: 7vh;
    font-size: calc(var(--font-body) - 1px);
  }

  #goto_signup {
    font-size: calc(var(--font-misc) - 1px);
    letter-spacing: var(--letter-spacing);
  }
}